<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../stores/stores.html">
<link rel="import" href="./ah-news-list.html">

<dom-module id="ah-news">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <ah-news-list items="[[_news]]"></ah-news-list>
  </template>

  <script>
    class AhNews extends Stores.Mixin(Polymer.Element) {

      static get is() { return 'ah-news'; }

      static get properties() {
        return {
          country: String,
          mode: {
            type: String,
            value: 'latest'
          },
          limit: {
            type: Number,
            value: 10
          },
          _items: Array
        }
      }

      static get observers() {
        return [
          '_update(mode, limit, country)'
        ];
      }

      _update(mode, limit, country) {
        if (mode === 'by-country') {
          return this._getByCountry(country, limit);
        }

        if (mode === 'latest') {
          return this._getLatest(limit);
        }
      }

      _getByCountry(country, limit) {
        if (!country) {
          return;
        }
        this._dispatch(Stores.News.ByCountry.get(country, limit));
      }

      _getLatest(limit) {
        return null;
      }

      _mapStateToNews(mode, state) {
        if (mode === 'by-country') {
          return Stores.News.ByCountry.items(state.news.byCountry, this.country);
        }
        if (mode === 'latest') {
          return null;
        }
        return null;
      }

      _mapStateToProps(state) {
        const country = state.country.data;

        return {
          _news: this._mapStateToNews(this.mode, state)
        };
      }
    }

    window.customElements.define(AhNews.is, AhNews);
  </script>
</dom-module