<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../stores/stores.html">
<link rel="import" href="./ah-news-list.html">

<dom-module id="ah-news">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <ah-news-list items="[[_items]]"></ah-news-list>
  </template>

  <script>
    class AhNews extends Stores.Mixin(Polymer.Element) {

      static get is() { return 'ah-news'; }

      static get properties() {
        return {
          country: String,
          limit: {
            type: Number,
            value: 10
          },
          _items: Array
        }
      }

      static get observers() {
        return [
          '_update(country, limit)'
        ];
      }

      _update(country, limit) {
        this._dispatch(Stores.News.get(country, limit));
      }

      _mapStateToProps(state) {
        return {
          _items: state.news.items
        };
      }
    }

    window.customElements.define(AhNews.is, AhNews);
  </script>
</dom-module