<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../bower_components/google-map/google-map.html">
<link rel="import" href="../../../stores/stores.html">

<dom-module id="ah-countries-detail">
  <template>
    <style>
      :host {
        display: block;
      }

      .map {
        display: flex;
        height: 370px;
        background: white;
      }

      .news {
        width: 33vw;
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      .news > li {
        display: block;
        height: 4em;
        border-bottom: 1px solid #dedede;
        padding: 0;
      }

      #gmap {
        width: 67vw;
      }
    </style>
    <h2>[[_country.name]]</h2>
    <div class="map">
      <ul class="news">
        <template is="dom-repeat" items="[[_news]]">
          <li>[[item.title]]</li>
        </template>
      </ul>
      <google-map id="gmap"
        api-key="AIzaSyBnrtKnpBOG4PT063JAjHK5IP2LUF2fNm8"
        latitude="[[_country.position.0]]"
        longitude="[[_country.position.1]]"
        zoom="3"
        fit-to-markers></google-map>
    </div>
  </template>

  <script>
    class AhCountriesDetail extends Stores.Mixin(Polymer.Element) {

      static get is() { return 'ah-countries-detail'; }

      static get properties() {
        return {
          name: {
            type: String,
            observer: '_nameChanged'
          },
          _loading: Boolean,
          _country: {
            type: Object,
            value: () => ({ name: null })
          },
          _map: Object,
          _feature: Object
        }
      }

      static get observers() {
        return [
          '_updateMap(_map, _country.geo)'
        ];
      }

      connectedCallback() {
        super.connectedCallback();

        this.$.gmap.addEventListener('google-map-ready', (map) => this._setupMap(map));
      }

      _nameChanged(name) {
        if (name == null) {
          return;
        }
        this._dispatch(Stores.Country.get(name));
        this._dispatch(Stores.News.ByCountry.get(name));
      }

      _mapStateToProps(state) {
        const country = state.country.data;
        const news = country == null ? null :
          Stores.News.ByCountry.items(state.news.byCountry, country.name);

        return {
          _news: news,
          _loading: state.country.loading,
          _country: country
        };
      }

      _setupMap() {
        this._map = this.$.gmap.map;

        this._map.data.setStyle({
          fillColor: '#222222',
          strokeWeight: 1
        });
      }

      _updateMap(map, geoJson) {
        if (!map || !geoJson) {
          return;
        }

        if (this._feature) {
          map.data.remove(this._feature);
        }

        this._feature = map.data.addGeoJson(geoJson)[0];

        const bounds = new google.maps.LatLngBounds();
        map.data.forEach(feature =>
          feature.getGeometry().forEachLatLng(latlng => bounds.extend(latlng)));

        map.fitBounds(bounds);
      }
    }

    window.customElements.define(AhCountriesDetail.is, AhCountriesDetail);
  </script>
</dom-module