<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../bower_components/google-map/google-map.html">
<link rel="import" href="../../../../bower_components/google-map/google-map-marker.html">
<link rel="import" href="../../../stores/stores.html">
<link rel="import" href="../../../shared/components/ah-news.html">

<dom-module id="ah-countries-detail">
  <template>
    <style>
      :host {
        display: block;
      }

      .map {
        display: flex;
        height: 370px;
        background: white;
      }

      ah-news {
        width: 33vw;
      }

      #gmap {
        width: 67vw;
      }
    </style>
    <h2>[[_country.name]]</h2>
    <div class="map">
      <ah-news mode="by-country" country="[[name]]"></ah-news>
      <google-map id="gmap"
        api-key="AIzaSyBnrtKnpBOG4PT063JAjHK5IP2LUF2fNm8"
        latitude="[[_country.position.0]]"
        longitude="[[_country.position.1]]"
        zoom="3"
        fit-to-markers>
        <template is="dom-repeat" items="[[_news]]">
          <google-map-marker slot="markers"
            news-id$="[[item.id]]"
            icon="[[_getIcon(item.id, _selected.id)]]"
            latitude="[[_parse(item.position.0)]]"
            longitude="[[_parse(item.position.1)]]"
            click-events="true"
            on-google-map-marker-click="_selectMarker"></google-map-marker>
        </template>
      </google-map>
    </div>
  </template>

  <script>
    class AhCountriesDetail extends Stores.Mixin(Polymer.Element) {

      static get is() { return 'ah-countries-detail'; }

      static get properties() {
        return {
          name: {
            type: String,
            observer: '_nameChanged'
          },
          _loading: Boolean,
          _country: {
            type: Object,
            value: () => ({ name: null })
          },
          _map: Object,
          _feature: Object,
          _news: Array,
          _selected: Object
        }
      }

      static get observers() {
        return [
          '_updateMap(_map, _country.geo)'
        ];
      }

      connectedCallback() {
        super.connectedCallback();

        this.$.gmap.addEventListener('google-map-ready', (map) => this._setupMap(map));
      }

      _nameChanged(name) {
        if (name == null) {
          return;
        }
        this._dispatch(Stores.Country.get(name));
      }

      _mapStateToProps(state) {
        return {
          _loading: state.country.loading,
          _country: state.country.data,
          _news: state.news.items,
          _selected: state.news.selected
        };
      }

      _setupMap() {
        this._map = this.$.gmap.map;

        this._map.data.setStyle({
          fillColor: '#222222',
          strokeWeight: 1
        });
      }

      _updateMap(map, geoJson) {
        if (!map || !geoJson) {
          return;
        }

        if (this._feature) {
          map.data.remove(this._feature);
        }

        this._feature = map.data.addGeoJson(geoJson)[0];

        const bounds = new google.maps.LatLngBounds();
        map.data.forEach(feature =>
          feature.getGeometry().forEachLatLng(latlng => bounds.extend(latlng)));

        map.fitBounds(bounds);
      }

      _parse(value) {
        return value ? parseFloat(value) : value;
      }

      _getIcon(id, selectedId) {
        return id && id === selectedId ?
          '/static/megaphone-selected.svg' :
          '/static/megaphone.svg';
      }

      _selectMarker(event) {
        const id = event.target.getAttribute('news-id');
        this._dispatch(Stores.News.select(id));
      }
    }

    window.customElements.define(AhCountriesDetail.is, AhCountriesDetail);
  </script>
</dom-module