<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../bower_components/google-map/google-map.html">
<link rel="import" href="../../../stores/stores.html">

<dom-module id="ah-countries-detail">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[_country.name]]</h2>
    <google-map id="gmap"
      api-key="AIzaSyBnrtKnpBOG4PT063JAjHK5IP2LUF2fNm8"
      fit-to-markers></google-map>
  </template>

  <script>
    class AhCountriesDetail extends Stores.Mixin(Polymer.Element) {

      static get is() { return 'ah-countries-detail'; }

      static get properties() {
        return {
          name: {
            type: String,
            observer: '_nameChanged'
          },
          _loading: Boolean,
          _country: {
            type: Object,
            value: () => ({ name: null })
          },
          _mapReady: Object
        }
      }

      static get observers() {
        return [
          '_loadGeoJSON(_mapReady, _country.codeAlpha3)'
        ];
      }

      connectedCallback() {
        super.connectedCallback();

        this.$.gmap.addEventListener('google-map-ready', () => this._mapReady = true);
      }

      _nameChanged(name) {
        this._dispatch(Stores.Country.get(name));
      }

      _mapStateToProps({country}) {
        return {
          _loading: country.loading,
          _country: country.data
        };
      }

      _loadGeoJSON(ready, code) {
        if (!ready || !code) {
          return;
        }
        this.$.gmap.map.data.loadGeoJson(`node_modules/world-countries/data/${code}.geo.json`);
      }
    }

    window.customElements.define(AhCountriesDetail.is, AhCountriesDetail);
  </script>
</dom-module