<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/flag-icon/flag-icon.html">
<link rel="import" href="../../libs/redux/redux-actions.html">
<link rel="import" href="../stores/countries/countries-store.html">
<link rel="import" href="../shared/graphql-service.html">
<link rel="import" href="../shared/store-mixin.html">

<dom-module id="ah-countries">
  <template>
    <style>
      :host {
        display: block;
      }

      .loader {
        width: 100%;
      }

      [hidden] {
        display: none;
      }

      .countries {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .country {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        width: 23vw;
        padding: 0px 8px;
      }

      .card-image {
        height: 80%;
        width: 100%;
        @apply --paper-card-header-image;
      }

      flag-icon {
        height: 100%;
        width: 100%;
      }
    </style>
    <h2>Countries</h2>
    <div class="loader" hidden$="[[!_loading]]">fetching countries, one sec.</div>
    <div class="countries">
      <template is="dom-repeat" items="[[_countries]]" as="country">
        <paper-card class="country">
          <div class="card-image">
            <flag-icon key$="[[country.name]]"></flag-icon>
          </div>
          <div class="card-content">
            [[country.name]]
          </div>
        </paper-card>
      </template>
    </div>
  </template>

  <script>
    (() => {
      async function getCountries() {
          const data = await GraphQLService.query(`
          {
            allCountries {
              id
              name
            }
          }
          `);
          return data.allCountries;
      }

      class AhCountries extends Stores.Mixin(Polymer.Element) {

        static get is() { return 'ah-countries'; }

        static get properties() {
          return {
            _countries: Array,
            _loading: Boolean
          }
        }

        connectedCallback() {
          super.connectedCallback();

          this._dispatch(Stores.Countries.hydrate(getCountries()));
        }

        _mapStateToProps({countries}) {
          return {
            _countries: countries.items,
            _loading: countries.loading
          };
        }
      }

      window.customElements.define(AhCountries.is, AhCountries);
    })();
  </script>
</dom-module>