<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">

<dom-module id="ah-import">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Import</h2>
    <paper-input id="upload" type="file" accept=".json"></paper-input>
  </template>

  <script>
    (() => {
      class AhImport extends Polymer.Element {
        static get is() { return 'ah-import'; }

        connectedCallback() {
          super.connectedCallback();

          const input = this.$.upload.inputElement.querySelector('input');
          input.addEventListener('change', () => {
            this._upload(input.files);
          });

        }

        async _createCountry({name, countryCode}) {
          const endpoint = 'https://api.graph.cool/simple/v1/cj6nyow1w221t0143o8gq0f9p';

          const query =
            `mutation {
                createCountry(
                  name: "${name}"
                  description: "test"
                  countryCode: "${countryCode}"
                ) {
                  id
                  name
                }
              }`;

          const body = JSON.stringify({query});

          const response = await fetch(endpoint, {
            method: 'POST',
            headers: {
              "Content-Type": "application/json"
            },
            body
          });

          const result = await response.json();
          return result.data;
        }

        async _upload(files) {
          const reader = new FileReader();

          reader.addEventListener("load", async () => {
            try {
              const countriesData = JSON.parse(reader.result);
              const countries = await Promise.all(
                countriesData.map(data => this._createCountry(data)));

              console.log(`${countries.length} countries created.`);
            } catch (e) {
              //
            }
          });

          reader.readAsText(files[0]);
        }
      }

      window.customElements.define(AhImport.is, AhImport);
    })();
  </script>
</dom-module>