<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../stores/stores.html">

<dom-module id="ah-import">
  <template>
    <style>
      :host {
        display: block;
      }

      [hidden] {
        display: none !important;
      }
    </style>
    <h2>Import</h2>
    <paper-input id="upload" type="file" accept=".json"></paper-input>
    <div hidden$="[[!_uploading]]">uploading... [[_progress]]</div>
  </template>

  <script>
    (() => {
      class AhImport extends Stores.Mixin(Polymer.Element) {
        static get is() { return 'ah-import'; }

        static get properties() {
          return {
            _uplading: Boolean,
            _errors: Array,
            _progress: Number
          };
        }

        connectedCallback() {
          super.connectedCallback();

          const input = this.$.upload.inputElement.querySelector('input');
          input.addEventListener('change', () => this._upload(input.files));
        }

        async _upload(files) {
          const reader = new FileReader();

          reader.addEventListener("load", async () => {
            try {
              const countriesData = JSON.parse(reader.result);
              countriesData.forEach(data => this._dispatch(Stores.Import.upload(data)));
            } catch (e) {
              //
            }
          });

          reader.readAsText(files[0]);
        }

        _mapStateToProps(state) {
          return {
            _uploading: Stores.Import.uploading(state.import),
            _progress: Stores.Import.progress(state.import),
            _errors: state.import.errors
          }
        }
      }

      window.customElements.define(AhImport.is, AhImport);
    })();
  </script>
</dom-module>