<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../stores/stores.html">
<link rel="import" href="../../../shared/styles/ah-styles.html">

<dom-module id="ah-countries-list">
  <template>
    <style include="ah-styles">
      :host {
        display: block;
        --card-width: 18vw;
      }

      @media (min-width: 540px) {
        :host {
          --card-width: 14vw;
        }
      }

      @media (min-width: 960px) {
        :host {
          --card-width: 8vw;
        }
      }

      .loader {
        width: 100%;
      }

      .countries {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .country {
        display: flex;
        flex-wrap: wrap;
        width: var(--card-width);
        margin-bottom: calc(var(--card-width) / 4);
        text-decoration: none;
      }

      .country .flag {
        position: relative;
        display: flex;
        overflow: hidden;
        height: var(--card-width);
      }

      .country img {
        height: 100%;
      }

      .country .name {
        text-align: center;
        width: 100%;
        max-height: 2.5rem;
        font-weight: bold;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>

    <h2>Countries</h2>
    <paper-input value="{{_query}}"></paper-input>
    <div class="loader" hidden$="[[!_loading]]">fetching countries, one sec.</div>
    <div class="countries">
      <template is="dom-repeat" items="[[_countries]]" as="country">
        <a href$="/countries/[[country.name]]" class="country">
          <div class="flag">
            <img src="../../../bower_components/flag-icon-css/flags/1x1/[[country.countryCode]].svg"
              alt$="flag of [[country.name]]"/>
          </div>
          <div class="name">[[country.name]]</div>
        </a>
      </template>
    </div>
  </template>

  <script>
    (() => {
      class AhCountriesList extends Stores.Mixin(Polymer.Element) {

        static get is() { return 'ah-countries-list'; }

        static get properties() {
          return {
            _countries: Array,
            _loading: Boolean,
            _query: String
          }
        }

        static get observers() {
          return [
            '_queryCountriesDebounced(_query)'
          ]
        }

        connectedCallback() {
          super.connectedCallback();
          this._dispatch(Stores.Countries.all());
        }

        _queryCountries(query) {
          this._dispatch(Stores.Countries.query(query));
        }

        _queryCountriesDebounced(query) {
          clearTimeout(this.__queryRef);

          this.__queryRef = setTimeout(() =>
            this._dispatch(Stores.Countries.query(query)), 50);
        }

        _mapStateToProps({countries}) {
          const {filtered, items} = countries;

          return {
            _countries: filtered.length ? filtered : items,
            _loading: countries.loading
          };
        }
      }

      window.customElements.define(AhCountriesList.is, AhCountriesList);
    })();
  </script>
</dom-module>