<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../stores/stores.html">

<dom-module id="ah-country">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Country</h2>
    <h3>[[_country.name]]</h3>
  </template>

  <script>
    class AhCountry extends Stores.Mixin(Polymer.Element) {

      static get is() { return 'ah-country'; }

      static get properties() {
        return {
          name: {
            type: String,
            observer: '_nameChanged'
          },
          _loading: Boolean,
          _country: {
            type: Object,
            value: () => ({ name: null })
          }
        }
      }

      _nameChanged(name) {
        this._dispatch(Stores.Country.get(name));
      }

      _mapStateToProps({country}) {
        return {
          _loading: country.loading,
          _country: country.data
        };
      }
    }

    window.customElements.define(AhCountry.is, AhCountry);
  </script>
</dom-module